{% extends 'base.html.twig' %}

{% block title %}Listing all produce item!{% endblock %}

{% block body %}

<div class = "bg-primary">
<ul>



{% for ProduceItem in ProduceItem %}


<div class="form-group" >

  <li> {{ProduceItem.Icon}} {{ProduceItem.name}}  {{date(ProduceItem.getExpirationDate)}}  </li>

</div>

{% endfor %}

</ul>
</div>
{% endblock %}
