{% extends 'base.html.twig' %}

{% block body %}

<div>

{{ form_start(task)}}

<div class="form-group">
{{ form_label(task.name, 'Your name') }}
</div>



{{ form_end(task)}}


</div>

{% endblock %}
